<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:file:db/hsqldb-db;shutdown=true;hsqldb.write_delay=false</property>
        <property name="hibernate.connection.username">SA</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

        <!-- Automatically create database at first connection (dropping everything found before!) -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!--<property name="connection.autocommit">true</property>-->
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Java classes to include -->
        <mapping class="com.kaleyra.db.orm.Book"/>
        <mapping class="com.kaleyra.db.orm.Person"/>
    </session-factory>
</hibernate-configuration>